.main {
  display: flex;
}
.leftNav {
  width: 100px;
  position: sticky;
  top: 10px;
  height: 100vh;
}
.mainContent {
  flex-grow: 1;
  width: calc(100% - 100px);
}

::selection {
  background: #f05123;
  color: #fff;
}
